* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --Dark-Rasberry: hsl(332, 51%, 32%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Nutmeg: hsl(14, 45%, 36%);
  --Rose-White: hsl(330, 100%, 98%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --White: hsl(0, 0%, 100%);
}
body {
  align-items: center;
  background-color: var(--Eggshell);
  display: flex;
  flex-direction: column;
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 16px;
  justify-content: center;
  min-height: 100vh;
}
.recipe-page {
  background-color: var(--White);
  border-radius: 1rem;
  margin: 100px;
  max-width: 700px;
}
.recipe-page img {
  border-radius: 3rem;
  display: block;
  margin: auto;
  max-width: 100%;
  padding: 30px;
}
.recipe-page h1 {
  color: var(--Dark-Charcoal);
  font-family: "Young serif", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0px 30px 10px;
}
.recipe-page p {
  color: var(--Wenge-Brown);
  margin: 10px 30px 0px;
}
.sections {
  margin: 30px 30px 0px;
}
.preparation-time {
  background-color: var(--Rose-White);
  border-radius: 1rem;
  padding: 15px;
}
.preparation-time h2 {
  color: var(--Dark-Rasberry);
  font-size: 18px;
  padding: 8px;
}
.preparation-time ul {
  color: var(--Wenge-Brown);
  margin-left: 20px;
}
.preparation-time li {
  margin: 10px;
  padding-left: 15px;
}
.preparation-time li::marker {
  color: var(--Dark-Rasberry);
}
.preparation-time b {
  color: var(--Wenge-Brown);
}
.ingredients {
  border-bottom: solid 1px var(--Light-Grey);
  padding: 0px 0px 20px;
}
.ingredients h2 {
  color: var(--Nutmeg);
  font-family: "Young serif";
  font-size: 25px;
  font-weight: 400;
  padding: 20px 0px 5px;
}
.ingredients ul {
  color: var(--Wenge-Brown);
  margin-left: 12px;
}
.ingredients li {
  margin: 10px;
  padding-left: 15px;
}
.ingredients li::marker {
  color: var(--Nutmeg);
}
.instructions {
  border-bottom: solid 1px var(--Light-Grey);
  padding: 20px 0px 20px;
}
.instructions h2 {
  color: var(--Nutmeg);
  font-family: "Young serif", Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding: 0px 0px 5px;
}
.instructions ol {
  color: var(--Wenge-Brown);
  margin-left: 12px;
}
.instructions li {
  margin: 10px;
  padding-left: 15px;
}
.instructions li::marker {
  color: var(--Nutmeg);
  font-weight: 600;
}
.instructions b {
  color: var(--Wenge-Brown);
}
.nutrition {
  margin-bottom: 30px;
  padding: 20px 0px 0px;
}
.nutrition h2 {
  color: var(--Nutmeg);
  font-family: "Young serif", Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding: 0px 0px 5px;
}
.nutrition p {
  color: var(--Wenge-Brown);
  padding: 10px 0px 12px;
}
.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}
.nutrition-table tr {
  border-bottom: solid 1px var(--Light-Grey);
}
.nutrition-table tr:last-child {
  border-bottom: none;
}
.nutrition-table td{
  padding: 15px;
}
.nutrition-table td:first-child {
  color: var(--Wenge-Brown);
  padding-left: 60px;
}
.nutrition-numbers {
  color: var(--Nutmeg);
  font-weight: 700;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 700px) {
  .container {
    border-radius: 0;
    margin: 0;
  }
}
@media (max-width: 481px) {
  .container {
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .header-container h1 {
    font-size: 35px;
    margin: 20px 30px 0px;
    padding: 0;
  }
  .header-container img {
    border-radius: 0;
    padding: 0;
  }
}
